.app {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.fruitDisplay {
  width: 350px;
  height: 350px;
}

.fruitDisplayContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3vh
}

.fruitImage {
  width: 20vh;
  height: 20vh;
}

.mainContainer {
  height: 75vh
}
