.app {
  text-align: center;
  height: 100vh;
  color: white;
}

.fruitButton {
  color: #fff;
  height: 47px;
  background-color: #6ECDEB;
  border-color: #48bcb4;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 2px;
}

.fruitButton:hover {
  background-color: white;
  color: #6ECDEB;
  border-color:#6ECDEB;
}

.fruitDisplay {
  width: 350px;
  height: 350px;
  color: white;
  background: #282c34;
  margin: 1%;
  box-shadow: 0px 2px 18px -7px rgba(0,0,0,1);
}

.fruitDisplayContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2%;
}

.fruitImage {
  width: 20vh;
  height: 20vh;
  margin: 7%
}

.fruitInput {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 400px;
}

.inputContainer {
  flex-wrap: wrap;
  justify-content: center;
}

.mainContainer {
  margin-top: 5%;
}
